.selectStyle {
  width: 90%;
  justify-content: center;
  display: flex;
}


.vertical-center {
  min-height: 80%; /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: grid;
  align-items: center;
}
.buttonStyle {
  background: black;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: black;
}
.optionListContainer {
<<<<<<< HEAD
  color: black;
}
=======
  background: black;
}
>>>>>>> ca9abe8cde4cff7d33f498bbbd6a2e84b2f9666b
